ul {
    list-style: none;
}
li {
    max-width: 25em;
}
:root {
    font-size: 62.5%;
    font-family: sans-serif;
}
form {
    display: inline-block;
}
button {
    display: grid;
    float: right;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p {
    display: inline-block;
}
textarea {
    min-height: 5rem;
    max-height: 17.5em;
    min-width: 17.5em;
    max-width: 17.5em;
}
