    <input type="text" id="title" name="title" placeholder="enter a note">
    <select name="type" id="type">
        <option value="note">Note</option>
        <option value="todo">To Do</option>
    </select>
    <textarea id="message" name="message" placeholder="provide some more detail (optional)"></textarea>
    <button>Submit</button>