<nav>  
    <ul>
        <% if(!currentUser) {%>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } else { %>
            <% if (entry && entry.length > 0 ) { %>
        <li><a href="/clock/<%= entry[0]._id %>">Time Clock</a></li>
        <li><a href="#todo">Things To Do</a></li>
        <% } %>
        <li><a href="/logout">Logout</a></li>
        
        <% } %>
    </ul>  
</nav>